.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}

.navbar {
  width: 100%; 
}

.navbar-nav {
  margin-right: 100px; 
  margin-left: 100px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

td {
  white-space: pre-line;
}

.delete-button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-right: 15px;
}

.update-button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 0;
  cursor: pointer;
  /*margin-right: 15px;*/
}

.delete-button:hover {
  color: red;
}

.update-button:hover {
  color: blue;
}

.list-container {
  position: relative;
  padding-bottom: 100px;
}

.add-button-container {
  position: absolute;
  top: 10;
  bottom: 10;
  right: 0;
  margin-right: 30px;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
}

.table {
  margin-top: 80px;
}

.add-button {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
}

.add-button:hover {
  background-color: #0056b3;
}

.add-button:hover svg {
  color: white;
}

.to-user-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.to-user-button:hover {
  color: limegreen;
}

.form-control {
  max-width: 300px;
  min-width: 300px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  justify-content: center;
  margin-bottom: 10px;
}


.btn-primary {
  margin-right: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}

.form-btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
