<section>
  <div class="list-container">
    <h1 class="text-center">Roles List</h1>
    <div class="add-button-container">
      <a class="add-button" routerLink="add">
        <fa-icon [icon]="faPlus"></fa-icon> Add Role
      </a>
    </div>
    <table class="table table-striped" aria-describedby="RoleTable">
      <thead>
        <tr>
          <td>Role Id</td>
          <td>Role Name</td>
          <td>Users</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles">
          <td>{{role.id}}</td>
          <td>{{role.roleName}}</td>
          <td>
              <span *ngFor="let user of role.users">
                <p>
                  {{user.email}}
                  <button class="delete-button left-15" (click)="removeUserInRole(role.id, user.id)">
                    <fa-icon [icon]="faTimes"></fa-icon>
                  </button>
                </p>
              </span>
          </td>
          <td>
            <button class="delete-button" (click)="removeRole(role.id)">
              <fa-icon [icon]="faTimes"></fa-icon>
            </button>
            <a class="update-button left-15" [routerLink]="['update/' ,role.id]">
              <fa-icon [icon]="faEdit"></fa-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
