td {
  white-space: pre-line;
}

.delete-button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 0;
  cursor: pointer;
}

.update-button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 0;
  cursor: pointer;
}

.left-15 {
  margin-left: 15px;
}

.delete-button:hover {
  color: red;
}

.update-button:hover {
  color: blue;
}

.list-container {
  position: relative;
  padding-bottom: 100px;
}

.add-button-container {
  position: absolute;
  top: 10;
  bottom: 10;
  right: 0;
  margin-right: 30px;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
}

.table {
  margin-top: 80px;
}

.add-button {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
}

.add-button:hover {
  background-color: #0056b3;
}

.add-button:hover svg {
  color: white;
}

.to-user-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.to-user-button:hover {
  color: limegreen;
}

p {
  margin-bottom: 0;
}
