<header class="App-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex justify-content-between w-100">
        <a class="nav-item nav-link active" routerLink="/api/users">Users<span
          class="sr-only"></span></a>
        <a class="nav-item nav-link" routerLink="/api/roles">Roles</a>
        <a class="nav-item nav-link" routerLink="/api/request_statuses">Request Statuses</a>
        <a class="nav-item nav-link" routerLink="/api/payments">Payments</a>
        <a class="nav-item nav-link" routerLink="/api/credit_types">Credit Types</a>
        <a class="nav-item nav-link" routerLink="/api/credit_requests">Credit Requests</a>
        <a class="nav-item nav-link" routerLink="/api/credits">Credits</a>
      </div>
    </div>
  </nav>
</header>

<main class="App">
  <div class="content">

  </div>

  <router-outlet />
</main>

